[tool.poetry]
name = "langfuse"
version = "1.0.34"
description = "A client library for accessing langfuse"
authors = ["langfuse <developers@langfuse.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
httpx = ">=0.15.4,<0.25.0"
attrs = ">=21.3.0"
python-dateutil = ">=2.8.0, <3.0"
pydantic = ">=1.10.7, <2.0"
pytz = "^2023.3"
backoff = "^2.2.1"
langchain = "^0.0.309"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
mypy = "^1.4.1"
pytest = "^7.4.0"
black = "^23.7.0"
openai = "^0.27.8"
chromadb = "^0.4.2"
tiktoken = "^0.4.0"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.3.1"
respx = "^0.20.2"
requests = "^2.31.0"
google-search-results = "^2.4.2"
huggingface_hub = "^0.16.4"
pre-commit = "^3.2.2"
anthropic = "^0.3.10"
bs4 = "^0.0.1"
lark = "^1.1.7"
pytest-asyncio = "^0.21.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target_version = ['py38', 'py39', 'py310', 'py311']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
  )/
)
'''

[tool.isort]
line_length = 120
profile = "black"

[tool.pytest.ini_options]
log_cli = true

[tool.poetry_bumpversion.file."langfuse/version.py"]