[tool.poetry]
name = "langfuse"
version = "2.53.6"
description = "A client library for accessing langfuse"
authors = ["langfuse <developers@langfuse.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
httpx = ">=0.15.4,<1.0"
pydantic = ">=1.10.7, <3.0"
backoff = ">=1.10.0"
openai = { version = ">=0.27.8", optional = true }
wrapt = "^1.14"
langchain = { version = ">=0.0.309", optional = true }
llama-index = {version = ">=0.10.12, <2.0.0", optional = true}
packaging = ">=23.2,<25.0"
idna = "^3.7"
anyio = "^4.4.0"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.4,<9.0"
chromadb = ">=0.4.2,<0.6.0"
tiktoken = "0.7.0"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.3.1"
respx = ">=0.20.2,<0.22.0"
google-search-results = "^2.4.2"
huggingface_hub = ">=0.16.4,<0.25.0"
pre-commit = "^3.2.2"
anthropic = ">=0.17.0,<1"
bs4 = ">=0.0.1,<0.0.3"
lark = "^1.1.7"
pytest-asyncio = ">=0.21.1,<0.24.0"
pytest-httpserver = "^1.0.8"
boto3 = "^1.28.59"
ruff = ">=0.1.8,<0.6.0"
langchain-mistralai = ">=0.0.1,<0.1.8"
google-cloud-aiplatform = "^1.38.1"
cohere = ">=4.46,<6.0"
langchain-google-vertexai = ">=0.0.5,<1.0.5"
langchain-openai = ">=0.0.5,<0.1.8"
dashscope = "^1.14.1"
pymongo = "^4.6.1"
llama-index-llms-anthropic = "^0.1.1"
bson = "^0.5.10"
langchain-anthropic = "^0.1.4"
langchain-groq = "^0.1.3"
langchain-aws = "^0.1.3"

langchain-community = "^0.2.14"
[tool.poetry.group.docs.dependencies]
pdoc = "^14.4.0"

[tool.poetry.extras]
openai = ["openai"]
langchain = ["langchain"]
llama-index = ["llama-index"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
log_cli = true

[tool.poetry_bumpversion.file."langfuse/version.py"]

[tool.poetry.scripts]
release = "scripts.release:main"