[tool.poetry]
name = "langfuse"
version = "0.0.59"
description = "A client library for accessing langfuse"
authors = ["langfuse <developers@langfuse.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
httpx = ">=0.15.4,<0.25.0"
attrs = ">=21.3.0"
python-dateutil = "^2.8.0"
pydantic = "1.10.7"
langchain = "^0.0.237"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
mypy = "^1.4.1"
pytest = "^7.4.0"
black = "^23.7.0"
openai = "^0.27.8"
chromadb = "^0.4.2"
tiktoken = "^0.4.0"
google-search-results = "^2.4.2"
pytest-asyncio = "^0.21.1"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target_version = ['py38', 'py39', 'py310', 'py311']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
  )/
)
'''

[tool.isort]
line_length = 120
profile = "black"


[tool.poetry_bumpversion.file."langfuse/version.py"]