[tool.poetry]
name = "langfuse"
version = "2.9.1a0"
description = "A client library for accessing langfuse"
authors = ["langfuse <developers@langfuse.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
httpx = ">=0.15.4,<0.26.0"
pydantic = ">=1.10.7, <3.0"
backoff = "^2.2.1"
openai = ">=0.27.8"
wrapt = "1.14"
langchain = { version = ">=0.0.309", optional = true }
chevron = "^0.14.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
chromadb = "^0.4.2"
tiktoken = "0.5.1"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.3.1"
respx = "^0.20.2"
google-search-results = "^2.4.2"
huggingface_hub = ">=0.16.4,<0.21.0"
pre-commit = "^3.2.2"
anthropic = ">=0.3.10,<0.9.0"
bs4 = ">=0.0.1,<0.0.3"
lark = "^1.1.7"
pytest-asyncio = ">=0.21.1,<0.24.0"
pytest-httpserver = "^1.0.8"
boto3 = "^1.28.59"
ruff = "^0.1.8"
langchain-mistralai = ">=0.0.1,<0.0.4"
google-cloud-aiplatform = "^1.38.1"

[tool.poetry.extras]
langchain = ["langchain"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
target-version = 'py38'

[tool.pytest.ini_options]
log_cli = true

[tool.poetry_bumpversion.file."langfuse/version.py"]
