# This file was auto-generated by Fern from our API Definition.

import typing

import typing_extensions
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from .raw_client import AsyncRawEvaluatorsClient, RawEvaluatorsClient
from .types.create_evaluator_request import CreateEvaluatorRequest
from .types.delete_evaluator_response import DeleteEvaluatorResponse
from .types.evaluator import Evaluator
from .types.evaluators import Evaluators

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class EvaluatorsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawEvaluatorsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawEvaluatorsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawEvaluatorsClient
        """
        return self._raw_client

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    def create(
        self,
        *,
        request: CreateEvaluatorRequest,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Evaluator:
        """
        Create an evaluator in the authenticated project.

        Use evaluators to define **how** Langfuse should score data.
        LLM-as-a-judge evaluators define a prompt, expected structured output, and optional model configuration.
        Code evaluators define source code and a runtime language.

        Naming behavior:
        - If this is a new evaluator name in your project, Langfuse creates version `1`.
        - If the name already exists in your project, Langfuse creates the next version and returns it.
        - The evaluator `id` remains stable across versions.
        - Existing evaluation rules automatically use the latest evaluator version; no rule update is required.

        Recommended workflow:
        1. Create the evaluator.
        2. Read the returned `variables` array.
        3. Read the returned `outputDefinition.dataType` so the client knows whether future scores will be numeric, boolean, or categorical.
        4. Create one or more evaluation rules that reference the returned evaluator family using `name` and `type`.

        Code evaluator validation:
        - At creation, Langfuse only validates the request shape
        - The `sourceCode` itself is not executed here. It is first run (preflight-tested against a sample observation) when you link the evaluator to an evaluation rule, so runtime errors in the code surface at evaluation-rule creation, not at evaluator creation.

        Recovery guidance:
        - `422` with `code=evaluator_preflight_failed`: the evaluator cannot run with the resolved model configuration. Add a valid explicit `modelConfig`, or configure the project's default evaluation model, then retry the same request.
        - `400` with `code=invalid_body`: the request shape is malformed. Use the structured `details.issues` array to fix the specific fields and retry.
        - `400` with `code=invalid_body` on `outputDefinition`: for `type=llm_as_judge`, send `dataType`, `reasoning.description`, and `score.description`. Do not send `version`; it is not part of the public request shape.
        - If `type` is omitted, Langfuse treats the request as `type=llm_as_judge` for backwards compatibility. New clients should send `type` explicitly.

        Unstable API note:
        - This surface may evolve while the underlying evaluation data model is being redesigned.

        Parameters
        ----------
        request : CreateEvaluatorRequest

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Evaluator

        Examples
        --------
        from langfuse import LangfuseAPI
        from langfuse.unstable.commons import (
            EvaluatorModelConfig,
            EvaluatorOutputDataType,
            EvaluatorOutputDefinition_Numeric,
            EvaluatorOutputFieldDefinition,
            PromptVariableMappingInput,
            PromptVariableMappingSource,
            PublicNumericEvaluatorOutputScoreDefinition,
        )
        from langfuse.unstable.evaluators import CreateEvaluatorRequest_LlmAsJudge

        client = LangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )
        client.unstable.evaluators.create(
            request=CreateEvaluatorRequest_LlmAsJudge(
                name="answer-correctness",
                prompt="You are grading an answer.\n\nInput:\n{{input}}\n\nOutput:\n{{output}}\n\nReturn a score between 0 and 1.\n",
                output_definition=EvaluatorOutputDefinition_Numeric(
                    data_type=EvaluatorOutputDataType.NUMERIC,
                    reasoning=EvaluatorOutputFieldDefinition(
                        description="Explain why the score was assigned.",
                    ),
                    score=PublicNumericEvaluatorOutputScoreDefinition(
                        description="Correctness score between 0 and 1.",
                    ),
                ),
                model_config=EvaluatorModelConfig(
                    provider="openai",
                    model="gpt-4.1-mini",
                ),
                mapping=[
                    PromptVariableMappingInput(
                        variable="input",
                        source=PromptVariableMappingSource.INPUT,
                    ),
                    PromptVariableMappingInput(
                        variable="output",
                        source=PromptVariableMappingSource.OUTPUT,
                    ),
                ],
            ),
        )
        """
        _response = self._raw_client.create(
            request=request, request_options=request_options
        )
        return _response.data

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    def list(
        self,
        *,
        page: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Evaluators:
        """
        List the evaluators available to the authenticated project.

        Important behavior:
        - This endpoint returns the latest version of each available evaluator.
        - Every evaluator is owned by the authenticated project.

        Parameters
        ----------
        page : typing.Optional[int]
            1-based page number. Defaults to `1`.

        limit : typing.Optional[int]
            Maximum number of items per page. Defaults to `50`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Evaluators

        Examples
        --------
        from langfuse import LangfuseAPI

        client = LangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )
        client.unstable.evaluators.list()
        """
        _response = self._raw_client.list(
            page=page, limit=limit, request_options=request_options
        )
        return _response.data

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    def get(
        self,
        evaluator_id: str,
        *,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Evaluator:
        """
        Get one evaluator by `id`.

        This endpoint always returns the evaluator's latest version. Use it when you want the current prompt, output definition, model configuration, and derived variables for the evaluator you plan to use in an evaluation rule.

        Parameters
        ----------
        evaluator_id : str
            Evaluator identifier returned by the evaluator endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Evaluator

        Examples
        --------
        from langfuse import LangfuseAPI

        client = LangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )
        client.unstable.evaluators.get(
            evaluator_id="evaluatorId",
        )
        """
        _response = self._raw_client.get(evaluator_id, request_options=request_options)
        return _response.data

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    def delete(
        self,
        evaluator_id: str,
        *,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> DeleteEvaluatorResponse:
        """
        Delete an evaluator.

        Important behavior:
        - This deletes the evaluator including all of its stored versions.
        - Evaluation rule assignments referencing the evaluator are also deleted.
        - Scores already produced by the evaluator are not deleted.

        Parameters
        ----------
        evaluator_id : str
            Evaluator identifier returned by the evaluator endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteEvaluatorResponse

        Examples
        --------
        from langfuse import LangfuseAPI

        client = LangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )
        client.unstable.evaluators.delete(
            evaluator_id="evaluatorId",
        )
        """
        _response = self._raw_client.delete(
            evaluator_id, request_options=request_options
        )
        return _response.data


class AsyncEvaluatorsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawEvaluatorsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawEvaluatorsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawEvaluatorsClient
        """
        return self._raw_client

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    async def create(
        self,
        *,
        request: CreateEvaluatorRequest,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Evaluator:
        """
        Create an evaluator in the authenticated project.

        Use evaluators to define **how** Langfuse should score data.
        LLM-as-a-judge evaluators define a prompt, expected structured output, and optional model configuration.
        Code evaluators define source code and a runtime language.

        Naming behavior:
        - If this is a new evaluator name in your project, Langfuse creates version `1`.
        - If the name already exists in your project, Langfuse creates the next version and returns it.
        - The evaluator `id` remains stable across versions.
        - Existing evaluation rules automatically use the latest evaluator version; no rule update is required.

        Recommended workflow:
        1. Create the evaluator.
        2. Read the returned `variables` array.
        3. Read the returned `outputDefinition.dataType` so the client knows whether future scores will be numeric, boolean, or categorical.
        4. Create one or more evaluation rules that reference the returned evaluator family using `name` and `type`.

        Code evaluator validation:
        - At creation, Langfuse only validates the request shape
        - The `sourceCode` itself is not executed here. It is first run (preflight-tested against a sample observation) when you link the evaluator to an evaluation rule, so runtime errors in the code surface at evaluation-rule creation, not at evaluator creation.

        Recovery guidance:
        - `422` with `code=evaluator_preflight_failed`: the evaluator cannot run with the resolved model configuration. Add a valid explicit `modelConfig`, or configure the project's default evaluation model, then retry the same request.
        - `400` with `code=invalid_body`: the request shape is malformed. Use the structured `details.issues` array to fix the specific fields and retry.
        - `400` with `code=invalid_body` on `outputDefinition`: for `type=llm_as_judge`, send `dataType`, `reasoning.description`, and `score.description`. Do not send `version`; it is not part of the public request shape.
        - If `type` is omitted, Langfuse treats the request as `type=llm_as_judge` for backwards compatibility. New clients should send `type` explicitly.

        Unstable API note:
        - This surface may evolve while the underlying evaluation data model is being redesigned.

        Parameters
        ----------
        request : CreateEvaluatorRequest

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Evaluator

        Examples
        --------
        import asyncio

        from langfuse import AsyncLangfuseAPI
        from langfuse.unstable.commons import (
            EvaluatorModelConfig,
            EvaluatorOutputDataType,
            EvaluatorOutputDefinition_Numeric,
            EvaluatorOutputFieldDefinition,
            PromptVariableMappingInput,
            PromptVariableMappingSource,
            PublicNumericEvaluatorOutputScoreDefinition,
        )
        from langfuse.unstable.evaluators import CreateEvaluatorRequest_LlmAsJudge

        client = AsyncLangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.unstable.evaluators.create(
                request=CreateEvaluatorRequest_LlmAsJudge(
                    name="answer-correctness",
                    prompt="You are grading an answer.\n\nInput:\n{{input}}\n\nOutput:\n{{output}}\n\nReturn a score between 0 and 1.\n",
                    output_definition=EvaluatorOutputDefinition_Numeric(
                        data_type=EvaluatorOutputDataType.NUMERIC,
                        reasoning=EvaluatorOutputFieldDefinition(
                            description="Explain why the score was assigned.",
                        ),
                        score=PublicNumericEvaluatorOutputScoreDefinition(
                            description="Correctness score between 0 and 1.",
                        ),
                    ),
                    model_config=EvaluatorModelConfig(
                        provider="openai",
                        model="gpt-4.1-mini",
                    ),
                    mapping=[
                        PromptVariableMappingInput(
                            variable="input",
                            source=PromptVariableMappingSource.INPUT,
                        ),
                        PromptVariableMappingInput(
                            variable="output",
                            source=PromptVariableMappingSource.OUTPUT,
                        ),
                    ],
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            request=request, request_options=request_options
        )
        return _response.data

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    async def list(
        self,
        *,
        page: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Evaluators:
        """
        List the evaluators available to the authenticated project.

        Important behavior:
        - This endpoint returns the latest version of each available evaluator.
        - Every evaluator is owned by the authenticated project.

        Parameters
        ----------
        page : typing.Optional[int]
            1-based page number. Defaults to `1`.

        limit : typing.Optional[int]
            Maximum number of items per page. Defaults to `50`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Evaluators

        Examples
        --------
        import asyncio

        from langfuse import AsyncLangfuseAPI

        client = AsyncLangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.unstable.evaluators.list()


        asyncio.run(main())
        """
        _response = await self._raw_client.list(
            page=page, limit=limit, request_options=request_options
        )
        return _response.data

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    async def get(
        self,
        evaluator_id: str,
        *,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Evaluator:
        """
        Get one evaluator by `id`.

        This endpoint always returns the evaluator's latest version. Use it when you want the current prompt, output definition, model configuration, and derived variables for the evaluator you plan to use in an evaluation rule.

        Parameters
        ----------
        evaluator_id : str
            Evaluator identifier returned by the evaluator endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Evaluator

        Examples
        --------
        import asyncio

        from langfuse import AsyncLangfuseAPI

        client = AsyncLangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.unstable.evaluators.get(
                evaluator_id="evaluatorId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get(
            evaluator_id, request_options=request_options
        )
        return _response.data

    @typing_extensions.deprecated(
        "On Langfuse Cloud, this unstable endpoint is deprecated and will be removed on September 4, 2026. Use the stable `/api/public/v2/evaluators` API instead. Self-hosted deployments are unaffected by this date; the endpoint becomes unavailable when they upgrade to Langfuse v4.",
        category=None,
    )
    async def delete(
        self,
        evaluator_id: str,
        *,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> DeleteEvaluatorResponse:
        """
        Delete an evaluator.

        Important behavior:
        - This deletes the evaluator including all of its stored versions.
        - Evaluation rule assignments referencing the evaluator are also deleted.
        - Scores already produced by the evaluator are not deleted.

        Parameters
        ----------
        evaluator_id : str
            Evaluator identifier returned by the evaluator endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteEvaluatorResponse

        Examples
        --------
        import asyncio

        from langfuse import AsyncLangfuseAPI

        client = AsyncLangfuseAPI(
            x_langfuse_sdk_name="YOUR_X_LANGFUSE_SDK_NAME",
            x_langfuse_sdk_version="YOUR_X_LANGFUSE_SDK_VERSION",
            x_langfuse_public_key="YOUR_X_LANGFUSE_PUBLIC_KEY",
            username="YOUR_USERNAME",
            password="YOUR_PASSWORD",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.unstable.evaluators.delete(
                evaluator_id="evaluatorId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(
            evaluator_id, request_options=request_options
        )
        return _response.data
