on:
  pull_request:
  push:
    branches:
      - main
      - master
      - development
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

jobs:
  ci:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      HOST: ${{ secrets.HOST }}
      LF_PK: ${{ secrets.LF_PK }}
      LF_SK: ${{ secrets.LF_SK }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      SERPAPI_API_KEY: ${{ secrets.SERPAPI_API_KEY }}
      HUGGINGFACEHUB_API_TOKEN: ${{ secrets.HUGGINGFACEHUB_API_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          # - "3.7"
          # - "3.8"
          # - "3.9"
          # - "3.10"
          - "3.11"
    name: Test on Python version ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Pull the public repository
        run: |
          git clone https://github.com/langfuse/langfuse.git ./langfuse-server

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: langfuse-server/package-lock.json

      - name: Run langfuse server
        run: |
          cd ./langfuse-server
          docker-compose up -d
      - name: Install dependencies (necessary to run seeder)
        run: |
          cd ./langfuse-server
          npm install
      - name: Apply migrations and seed db
        run: |
          cd ./langfuse-server
          cp .env.dev.example .env
          npx --yes prisma migrate reset --force --skip-generate

      - name: Install Python
        uses: actions/setup-python@v4
        # see details (matrix, python-version, python-version-file, etc.)
        # https://github.com/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: abatilo/actions-poetry@v2

      - name: Setup a local virtual environment (if no poetry.toml file)
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}

      - name: Install the project dependencies
        run: poetry install

      - name: Run the automated tests
        run: poetry run pytest -s -v --log-cli-level=INFO

  all-tests-passed:
    # This allows us to have a branch protection rule for tests and deploys with matrix
    runs-on: ubuntu-latest
    needs: [ci]
    if: always()
    steps:
      - name: Successful deploy
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failing deploy
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
